@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Licorice&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --background-color: #460804;
    --text-color: #a37140;

    --font-text1: 'Libre Baskerville', serif;
    --font-text2: 'Bree Serif', serif; 
    --font-text3: 'Licorice', cursive;
}
/* 
exemplo de como usar a função "VAR"
body {
  background-color: var(--background-color);
  font-family: var(--font-text1);
  color: var(--text-color);
}
 */
body{
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
header{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav{
    width: 100%;
    height: 80px;
    border-bottom: #a37140 2px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 60px;

}
.link-nav{
    font-family: var(--font-text2);
    color: var(--text-color);
    font-size: 18px;
    margin: 0 20px;
    transition: .3s;
}

main{
  
  width: 100vw;
  margin-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background:url(../imagens/cafe\ com\ xadrez.jpg)
    no-repeat center center / cover;
  
}

.section-primaria{
 
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: var(--font-text3);
  font-size: 1.5em;
}
.section-primaria-titulo{
  font-size: 5em;
  color: var(--text-color);
  font-family: var(--font-text3);
  text-shadow: #460804 2px 12px 0.5px;
  margin: 20px 40px;
}

.section-primaria-subtitulo{
  font-size: 1.5em;
  color: white;
  font-family: var(--font-text1);
  text-shadow: #460804 1px 1px 2px;
  margin: 20px;
}

.section-primaria-paragrafo{
  font-size: 1em;
  color: white;
  font-family: var(--font-text1);
  text-shadow: #460804 1px 1px 2px;
  margin: 20px;
  text-align: center;
  width: 500px;
}

.section-primaria-imagem{
 display: none;
}
.section-secundaria{
 display: none;
}
.section-secundaria-imagem{
  width: 670px;
  height: 450px;
  border-radius: 5px;
  border: #a37140 1px solid;
  margin-top: 50px;
 
 
}




.rodape{
    width: 100%;
    
    border-top: #a37140 2px solid;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    font-family: var(--font-text1);
    color: var(--text-color);
    font-size: 18px;
    
}